:root {
  --gold: #ffbc90;
  --salmon: #ff9d90;
  --pink: #ffe0dc;
  --darkSalmon: #a0483c;
  --leaf: #d1e275;
  --sky: #41aadd;
  --coffee: #44231b;

  --bg: #2a2a2a;
  --grass: #aedd88;
  --lemon: #e5ff8f;
  --cream: #ffefe5;
  --sage: #9cbb86;
  --moss: #7e8d70;
  --tint: #D8E3D5;

  --teal: #0f9fa5;
  --brown: #af8864;

  --lightText: #ffe8d9;
  --trCream: rgba(255, 232, 217, 0.267);
  --darkText: #3d1a15;

  --shadow: #39161041;
}

html {
  /* background: linear-gradient(to bottom, transparent, var(--trCream)); */
  background-color: white;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: Jost;
  font-size: 1em;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  color: var(--darkText);
}

h1, h2, h3 {
  margin: 0;
}

p {
  padding: 2vh;
  margin: 0;
}

.v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.anchor {
  position: relative;
}

.float {
  position: absolute;
}

/* --- */

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a,
a:visited {
  text-decoration: none;
  color: unset;
}

.foot {
  height: 48px;
  width: 100%;
  flex: none;
  background-color: white;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  border-style: none;
  width: 6px;

  height: 98%;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brown);
}

/**/

input {
  background-color: var(--pink);
}

input,
button {
  border: none;
  outline: none;
  margin: 1vh;
  padding: 1vh;
  box-sizing: border-box;
  border-radius: 6px;
  font-family: Jost;
}

button {
  cursor: pointer;
  color: white;
  background-color: #0f9fa5;
}

button:hover {
  background-color: var(--brown);
}

.icon {
  cursor: pointer;
}

/* NAV */

.nav {
  padding: 0.5vh 1vh;
  width: 100%;
  height: 48px;
  justify-content: space-between;
  box-shadow: 0 2px 2px var(--shadow);
  z-index: 1;
}

.navButton {
  margin: 6px;
  padding: 4px;
  cursor: pointer;
}

.navButton:hover {
  font-weight: 600;
}

.servicesNavButton {
  position: relative;
}

.servicesDropdown {
  position: absolute;
  top: 60px;
  width: 160px;
  background-color: white;
  box-shadow: 0 2px 2px var(--shadow);
}

/* PEACE OF MIND */

.banner {
  position: relative;
  overflow: hidden;
  height: 640px;
  width: 100%;
  justify-content: center;
  flex: none;
}

.banner > img {
  position: absolute;
  bottom: 0;
  width: 125%;
  z-index: -1;
}

.bannerContent {
  width: 1024px;
  height: 100%;
}

.bannerBox {
  height: 80%;
  aspect-ratio: 1.1;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.95);
}

.bannerBox.wide {
  width: 100%;
  aspect-ratio: unset;
}

.bannerBox.tall {
  height: 90%;
  aspect-ratio: unset;
}

.bannerBoxContent {
  width: 100%;
  height: 100%;
  padding: 24px;
  border: 1px solid;
  text-align: center;
}

.bannerBoxContent h2 {
  font-size: 2em;
}

.bannerBoxContent h1 {
  font-size: 4em;
  font-family: Dancing Script;
  font-weight: 700;
}

.bannerBoxContent button {
  font-size: 1.2em;
  height: unset;
}

.infoBox {
  width: 360px;
  height: 280px;
  margin: 24px;
  text-align: center;
  padding: 24px;
  border: 1px solid;
  justify-content: space-between;
}

.infoBox button {
  font-size: 1.2em;
}

/* SERVICES */

.services {
  width: 1024px;
  margin: 24px;
}

.servicesImage {
  width: 240px;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.servicesSlide {
  margin: 2vh 0;
  padding: 2vh;
  text-align: center;
  background-color: rgb(255 232 217 / 50%);
}

.servicesContent {
  height: 100%;
}

.bannerBoxContent li {
  text-align: start;
}

.boxImage {
  max-height: 95%;
  max-width: 100%;
}

.triplet .bannerBox {
  width: 440px;
  max-width: 30%;
}

/* LOCATIONS */

.locationsBox {
  width: 180px;
  height: 300px;
  justify-content: start;
}

.businessTypes {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.businessType {
  background-color: var(--brown);
  padding: 6px;
  margin: 6px;
  color: white;
  min-width: 120px;
  text-align: center;
  border-radius: 6px;
}

.banner.tall {
  height: 800px;
}

/* ABOUT */

.about img {
  width: 280px;
  margin: 12px;
}

@media (max-width: 1024px) {
  .bannerBoxContent h1 {
    font-size: 2.4em;
  }

  .bannerBoxContent h2 {
    font-size: 1.4em;
  }

  .navButtons {
    display: none;
  }

  .banner {
    height: unset;
  }

  .banner > img {
    width: unset;
    height: 100%;
  }

  .bannerContent {
    width: 95%;
  }

  .bannerBox {
    width: 100%;
    height: 95%;
    aspect-ratio: unset;
  }

  .info {
    width: 100svw;
    flex-direction: column;
  }

  .infoBox {
    max-width: 95%;
  }

  .services {
    width: unset;
  }

  .servicesSlide {
    flex-direction: column;
  }

  .servicesImage {
    margin-right: unset !important;
    margin-left: unset !important;
    margin: 1vh;
  }

  .bannerBox.tall {
    height: unset;
  }

  #quickbooks ul {
    font-size: 0.8em;
    padding-inline-start: 8px;
  }

  .triplet {
    flex-direction: column;
  }

  .triplet .bannerBox {
    max-width: 95%;
  }
}